<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ data.title|default('Schemaproblemet') }}</title>

        
        <!-- This is your custom stylesheet located in static/css/main.css -->
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    </head>
    <body>

        

        <div class="container">
            {% block content %}{% endblock %}
        </div>

       

        
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.2/handlebars.min.js"></script>
    </body>
</html>
